.inicio-sesión-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.container-blobs {
  position: absolute;
  width: 100%;
  height: 100%;
}
.blob-1,
.blob-2,
.blob-3 {
  position: absolute;
}
.blob-1 {
  left: -180px;
  opacity: 0.8;
  top: -150px;
  transform: rotate(90deg);
}
.blob-2 {
  right: -250px;
  opacity: 0.3;
  top: 50px;
  transform: rotate(-180deg);
}
.blob-3 {
  bottom: -150px;
  transform: rotate(-150deg);
  left: -200px;
}
.inicio-sesión {
  background-color: #fff;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 20;
}
.background-content {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-image: url("https://i.ibb.co/0nQqZ1T/Group-1.png"); */
  z-index: 1;
}
.contenido {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contenido .icon {
  position: absolute;
  top: -29px;
  font-size: 20px;
  right: -12px;
  z-index: 10;
  cursor: pointer;
  color: #ff3333;
}
.login-button {
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 20px !important;
  box-shadow: rgba(136, 136, 136, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}
.login-button div {
  display: flex;
  justify-content: center;
}
.login-button span {
  font-size: clamp(12px, 3.5vw, 18px);
  font-weight: 600;
}
.login-button:hover {
  background-color: #000;
  color: #fff;
}
.inicio-sesión h3 {
  font-size: 28px;
  color: #333333;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.inicio-sesión p {
  text-align: center;
  font-size: 16px;
}
.inicio-sesión .contenido {
  position: relative;
  z-index: 2;
  height: 100%;
}
/* CSS */
.create-button {
  font-size: clamp(13px, 3.5vw, 18px);
  text-decoration: none;
  color: #666666;
  cursor: pointer;
  width: 80%;
  height: 45px;
  position: relative;
  /* !ELIMINAR LUEGO DE HACER API */
  display: flex;
  justify-content: center;
  align-items: center;
  /* !FIN */
  border: none;
  border-radius: 20px;
  box-shadow: rgba(136, 136, 136, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
  touch-action: manipulation;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.create-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.create-button:hover {
  background-color: #fc9873;
  color: #fff;
}
.create-button:disabled {
  cursor: not-allowed;
  background-color: #cdcdcd;
  color: white;
  box-shadow: rgba(136, 136, 136, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media (min-width: 768px) {
  .create-button {
    padding: 0.25em 0.75em;
  }
}
