.btnCalcular {
  background-color: #fc4d19;
  font-size: 17px;
  width: 70%;
  height: 35px;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  border: none;
  transition: all ease-in 200ms;
}

.title-inputs {
  font-size: clamp(13px, 3vw, 15px);
}
.btnCalcular:hover {
  background-color: #d60718;
}

.btnCalcular:disabled {
  background-color: #f8ab94;
  cursor: default;
}
