

:root {
    --negro: #000; /* Lo cambias a otro color */
    --blanco: #fff;
    --anaranjado: #FF7046;
}



*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 200;
}




/* Columna 1 */
.contenedor .columna1 {
    width: 25%;
}
.contenedor .encabezado h3 {
    font-size: clamp(2.5rem, 5vw, 7.5rem);
    color: var(--anaranjado);
    font-weight: 1000;
    text-shadow: 3px 2px 7px var(--negro);
}
.contenedor .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(2em, 4vw, 5em);
    position: relative;
    z-index: 200;
}
.contenedor p {
    font-size: clamp(18px, 1.2vw, 30px);
    padding: clamp(2em, 4vw, 5em);
    padding-top: 0;
}

/* menu */
.contenedor .hamburguesa {
    display: none;
    font-size: clamp(25px, 3vw, 35px);
}

.contenedor .menu-2 {
    width: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 1.2s;
    background: rgba(254,201,201,1);
    text-align: center;
}
.contenedor .cerrar {
    display: none;
    font-size: clamp(25px, 3vw, 35px);
}
.contenedor .menu-2 li {
    padding: 20px 0;
}
.contenedor .menu-2 a {
    color: var(--negro);
}

/* suscribete */
.contenedor .suscribete {
    padding: clamp(2em, 4vw, 5em);
}

.contenedor .suscribete h3 {
    font-size: clamp(1.5rem, 2vw, 4.5rem);
    color: var(--anaranjado);
}

.contenedor .input-contenedor {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}
.contenedor input {
    width: 75%;
    padding: 15px 15px;
    box-shadow: 0px 0px 2px var(--negro);
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 18px;
}


.contenedor .suscribete button {
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: none;
    border-radius: 0 150px 150px 90px;
    position: relative;
    margin-left: -20px;
}




/* Columna 2 */
.contenedor > .columna2 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(50px, 5vw, 100px);
}

/* menu */
.contenedor .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.contenedor .menu li {
    font-weight: 600;
    font-size: clamp(20px, 1.6vw, 30px);
}
.contenedor a {
    text-decoration: none;
    color: #5C5C5C;
}

/* equipo */
.contenedor .equipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.contenedor img {
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(149,149,149,1) 0%, rgba(65,65,65,1) 100%);
    border: none;
    object-fit: contain;
}
.contenedor span {
    font-size: clamp(18px, 2.5vw, 30px);
    font-weight: 500;
}
.contenedor .nombre-contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contenedor i {
    font-size: clamp(18px, 2.5vw, 30px);
}
.contenedor .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: clamp(12px, 2vw, 25px);
    gap: 30px;
}


/* boton */
.contenedor .boton-contenedor {
    display: flex;
    justify-content: center;
}
.contenedor .boton {
    border-radius: 90px;
    font-size: clamp(20px, 1.5vw, 30px);
    padding: clamp(12px, 2vw, 32px) clamp(30px, 2vw, 50px);
    background-color: var(--anaranjado);
    border: none;
    color: var(--blanco);
    cursor: pointer;
}









.manchas-contenedor {
    height: 100vh;
    position: fixed;
    z-index: 100;
}
.manchas-contenedor > * {
    position: absolute;
    animation: rotar infinite 40s;
    animation-timing-function: cubic-bezier(1,1,0,0);
}
.mancha1 {
    left: -100px;
    top: -450px;
    width: 700px;
    height: 600px;
}

.mancha2 {
    animation-duration: 45s;
    left: 1200px; /* right: -200px; */
    top: -400px;
    width: 500px;
    height: 600px;
}

.mancha3 {
    animation-duration: 35s;
    left: -100px; 
    bottom: -150px;
    width: 600px;
    height: 400px;
}

.mancha4 {
    animation-duration: 30s;
    left: 1150px; /* right: -120px; */
    bottom: -100px;
    width: 500px;
    height: 700px;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}













/* ANIMACIONES DE LOS MIEMBROS */


.contenedor .equipo {
    height: 400px;
}




.contenedor .equipo > * {
    position: relative;
    z-index: 100;
    filter: contrast(40%);
}

.contenedor .equipo > *:nth-child(1) {
    animation: mover1 infinite 10s;
}

.contenedor .equipo > *:nth-child(2) {
    animation: mover2 infinite 10s;
    align-self: self-end;
}

.contenedor .equipo > *:nth-child(3) {
    animation:  mover3 infinite 10s;
}





@keyframes mover1 {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: scale(1.2) translate(210px, 60px);
        z-index: 200;
        filter: contrast(110%);
    }

    33% {
        transform: scale(1.2) translate(210px, 60px);
        z-index: 200;
        filter: contrast(110%);
    }

    58% {
        transform: translate(520px, 0px);
    }

    66% {
        transform: translate(520px, 0px);
    }
}

@keyframes mover2 {
    0% {
        transform: scale(1.2) translate(0px, 0px);
        z-index: 200;
        filter: contrast(110%);
    }

    25% {
        transform: translate(260px,-70px);
        z-index: 100;
    }

    33% {
        transform: translate(260px,-70px);
        z-index: 100;
    }

    58% {
        transform: translate(-260px, -70px);
        z-index: 100;
    }

    66% {
        transform: translate(-260px, -70px);
        z-index: 100;
        filter: contrast(40%);
    }

    100% {
        transform: scale(1.2) translate(0px, 0px);
        z-index: 200;
        filter: contrast(110%);
    }
}

@keyframes mover3 {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(-520px, 0px);
    }

    33% {
        transform: translate(-520px, 0px);
        filter: contrast(30%);
    }

    58% {
        transform: scale(1.2) translate(-210px, 60px);
        z-index: 200;
        filter: contrast(110%);
    }

    66% {
        transform: scale(1.2) translate(-210px, 60px);
        z-index: 200;
        filter: contrast(110%);
    }
}


@keyframes resaltar1 {
    0% {
        filter: contrast(110%);
    }

    25% {
        filter: contrast(40%);
    }

    33% {
        
    }

    58% {
    }

    66% {
        filter: contrast(40%);
    }

    100% {
        filter: contrast(110%);
    }
}

@keyframes resaltar2 {
    0% {
        filter: contrast(40%);
    }

    25% {
        filter: contrast(110%);
    }

    33% {
        filter: contrast(110%);
    }

    58% {
    }

    66% {

    }
}

@keyframes resaltar3 {
    0% {
        filter: contrast(40%);
    }

    25% {
    }

    33% {
        
    }

    58% {
        filter: contrast(110%);
    }

    66% {
        filter: contrast(110%);
    }

    100% {
        filter: contrast(40%);
    }
}









@media screen and (max-width: 767px) {
    .mancha1 {
        left: -300px;
        top: -100px;
        width: 420px;
        height: 520px;
    }
    
    .mancha2 {
        animation-duration: 45s;
        left: 250px; /* right: -120px; */
        top: 200px;
        width: 180px;
        height: 280px;
    }
    
    .mancha3 {
        animation-duration: 35s;
        left: -150px; 
        bottom: -200px;
        width: 280px;
        height: 380px;
    }
    
    .mancha4 {
        animation-duration: 30s;
        left: 270px; /* right: -50px; */
        bottom: 100px;
        width: 80px;
        height: 180px;
    }
}














/* TABLET VERSION */
@media screen and (min-width: 767px) and (max-width: 1200px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
    .contenedor .columna1 {
        width: 50%;
    }
    .contenedor .columna2 {
        width: auto;
    }
    .contenedor img {
        height: 150px;
    }

    .contenedor .equipo {
        height: auto;
    }
    .contenedor .equipo > *:nth-child(1) {
        animation: resaltar1 infinite 9s;
    }
    
    .contenedor .equipo > *:nth-child(2) {
        animation: resaltar1 infinite 9s;
    }
    
    .contenedor .equipo > *:nth-child(3) {
        animation: resaltar1 infinite 9s;
    }
}

/* MOBILE VERSION */
@media screen and (max-width: 767px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
    .contenedor .columna1, .contenedor > .columna2 {
        width: auto;
    }
    .contenedor .hamburguesa {
        display: block;
    }
    .contenedor .encabezado {
        background: linear-gradient(180deg, rgba(253,152,105,1) 0%, rgba(254,201,201,1) 100%);
        padding: clamp(1em, 4vw, 4em) clamp(2em, 4vw, 5em);
    }
    .contenedor p {
        padding: clamp(2em, 4vw, 5em);
    }
    .contenedor .menu-2 {
        display: flex;
    }
    

    /* menu */
    .contenedor .menu {
        display: none;
    }

    /* equipo */
    .contenedor .equipo {
        flex-direction: column;
        gap: 70px;
    }
    .equipo > div {
        display: flex;
        justify-content: center;
    }
    .contenedor img {
        height: 150px;
        object-fit: contain;
    }
    .contenedor .boton-contenedor a,.contenedor .boton-contenedor, .boton {
        width: 100%;
    }
    .contenedor .equipo > div {
        display: flex;
    }
    .contenedor .nombre-contenedor {
        gap: 5px;
    }
    .contenedor .nombre-contenedor span {
        gap: 5px;
    }
    .contenedor .redes-sociales {
        gap: 10px;
    }
    .contenedor .equipo > *:nth-child(even) {
        flex-direction: row-reverse;
    }

    /* Animacionesa */
    .contenedor .equipo {
        height: auto;
    }
    .contenedor .equipo > *:nth-child(1) {
        animation: resaltar1 infinite 9s;
    }
    
    .contenedor .equipo > *:nth-child(2) {
        animation: resaltar2 infinite 9s;
    }
    
    .contenedor .equipo > *:nth-child(3) {
        animation: resaltar3 infinite 9s;
    }
}