*{
    margin: 0;
}
.btnCerrar{
    background-color: #FC4D19;
    font-size: 17px;
    width: 180px;
    height: 35px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: all ease-in 200ms;
    margin-top : 20px 
}

.btnCerrar:hover{
    background-color: #D60718;
}

.btnCerrar:disabled{
    background-color: #f8ab94;
    cursor:default
}