.nombreCostoExtra{
    border: none;
    appearance: none;
    background: transparent;
    border: none;
    color: #FC4D19;
    font-size: 18px;
    margin-bottom:12px;
}
.nombreCostoExtra::placeholder{
    color: rgb(95, 95, 95);
    font-size: 16px;
}