.apoyo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px 20px;
}
.apoyo {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apoyo .heading {
  text-align: center;
  font-size: clamp(23px, 3vw, 35px);
  font-weight: 600;
  line-height: 1.2;
  color: #fc4d19;
}
.apoyo .description {
  font-size: clamp(18px, 2vw, 25px);
  text-align: center;
  color: #606060;
  margin-bottom: clamp(10px, 2vw, 40px);
}

.areas-container {
  width: 100%;
}

.areas {
  width: 100%;
  border-radius: 20px;
  border: 1px #fc4d19 solid;
  color: #fc4d19;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 25px;
  background-color: white;
  margin-bottom: 15px;
  transition: all ease-in-out 50ms;
  overflow: hidden;
}
.areas:hover {
  background-color: #fc4d19;
  color: white;
}
.areas h4 {
  font-weight: 400;
  font-size: clamp(17px, 3vw, 20px);
}
.areas .icon {
  font-size: 25px;
  transition: var(--default-animation);
  transform: rotate(0deg);
}

/* *SubAREAS */

.sub-area {
  height: 0px;
  overflow: hidden;
}

.sub-area__item {
  padding-left: 20px;
}

.sub-area__item__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px 10px 2px 20px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #e42118;
  border-radius: 20px;
  color: #e42118;
  font-size: clamp(12px, 2vw, 15px);
  line-height: 1.2;
  transition: all ease-in-out 50ms;
}
.sub-area__item__title h3 {
  font-weight: 400;
  text-align: left;
}
.sub-area__item__title:hover {
  background-color: #e42118;
  color: white;
}
.sub-area__item__title .icon {
  transition: var(--default-animation);
  font-size: 20px;
}
/* *PROCESOS */
.proceso-container {
  max-height: clamp(250px, 2vw, 300px);
  overflow: auto;
}
.proceso-container__item {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.proceso-container__item .icon {
  margin-top: 1px;
  color: #00cf00;
  cursor: pointer;
  font-size: 20px;
  transition: all 50ms ease-in-out;
}
.proceso-container__item h3 {
  text-align: start;
  font-weight: 300;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.2;
}
