* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --default-animation: all 0.3s ease-in-out;
  --primary-color: #fc4d19;
  --soft-black: #1c1b1e;
  --anaranjado: #ff815b;
  --anaranjadoClaro: #ffc8b8;
  --rojo: #de6262;
  --negro: #373737;
  --negroClaro: #565656;
  --anaranjadoDegradado: linear-gradient(
    180deg,
    rgba(255, 184, 140, 1) 0%,
    rgba(222, 98, 98, 1) 100%
  );
  --gris: #e8e8e8;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  top: 85% !important;
  width: clamp(10px, 3vw, 30px) !important;
  height: clamp(10px, 3vw, 30px) !important;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 20px;
  transition: var(--default-animation);
  position: fixed !important;
  z-index: 200 !important;
}
@media (max-width: 830px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 90% !important;
  }
}
.swiper-button-prev {
  left: 5% !important;
}
.swiper-button-next {
  right: 5% !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.05);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  transform: scale(0.6);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: clamp(20px, 3.5vw, 35px) !important;
  font-weight: bold;
}

.swiper-wrapper {
  transition-duration: 300ms !important;
}
.arrow-down-container {
  position: fixed;
  bottom: 50px;
  z-index: 10;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: var(--default-animation);
  border: none;
  animation: arrow-down 1s infinite;
  left: calc(50% - 30px);
  padding: 15.4px 18px;
}
.arrow-down {
  font-size: clamp(30px, 5vw, 50px);
  color: white;
  box-sizing: border-box;
}
@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* !NAVIGATION BUTTONS */
.navigation-buttons {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}
.container-buttons-slide {
  display: flex;
  gap: 20px;
  position: relative;
}
.container-buttons-slide > *::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--soft-black);
  position: absolute;
  margin-left: 76px;
}
.container-buttons-slide > *:nth-child(8)::after {
  content: "";
  width: 0;
  height: 0;
}
.buttons-slide {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--soft-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--default-animation);
}
.buttons-slide p {
  font-size: 24px;
  font-weight: 500;
}
.buttons-slide:hover {
  color: white;
  background-color: var(--soft-black);
}
/* CONTACT BUTTON */
.contact-button {
  position: fixed;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2%;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: var(--default-animation);
  background-color: #fc4d19;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.contact-button:hover {
  background-color: #ff815b;
}
.contact-icon {
  font-size: clamp(10px, 3.5vw, 20px);
}
.contact-button h4 {
  font-size: clamp(5px, 3vw, 15px);
  font-weight: 500;
}
@media (max-width: 750px) {
  .container-buttons-slide {
    gap: 3px;
    top: 20px;
  }
  .container-buttons-slide > *::after {
    content: none;
  }
  .buttons-slide p {
    font-size: clamp(20px, 6vw, 24px);
    position: absolute;
    top: -30px;
    font-weight: 700;
    color: #bcbcbc;
  }
  .buttons-slide {
    width: clamp(30px, 10vw, 60px);
    border: none;
    border-radius: 0;
    height: 15px;
  }
}
@media (max-width: 990px) {
  .contact-button {
    display: none;
  }
}
