@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* VARIABLES */
:root {
  --anaranjado: #ff7046;
  --negro: #2e2e2e;
  --negroClaro: #565656;
  --anaranjadoDegradado: linear-gradient(
    135deg,
    rgba(255, 161, 74, 1) 0%,
    rgba(255, 0, 21, 1) 100%
  );
  --azulDegradado: linear-gradient(
    145deg,
    rgba(16, 3, 80, 1) 0%,
    rgba(0, 102, 255, 1) 100%
  );
  --gris: #e8e8e8;
}

/* --------------------------------------------------------------- DESKTOP -------------------------------------------------------------------------- */
* {
  font-family: "Poppins", sans-serif;
  /* font-size: 20px; */
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* LOGIN */
.contenedor-login {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #22222277;
  z-index: 20;
  padding: 15px;
  box-sizing: border-box;
}
/* CONTAINER child */
.login {
  width: 100%;
  max-width: 1160px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.bienvenida {
  position: absolute;
}
.bienvenida h1 {
  font-size: 50px;
  font-weight: 800;
  color: #ffffff;
  animation: bienvenida forwards 3.5s;
}
@keyframes bienvenida {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  45% {
    opacity: 1;
    transform: translateY(40vh);
  }
  55% {
    opacity: 1;
    transform: translateY(40vh);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
/* COLUMNA-1 */
.columna1 h2 {
  font-size: 40px;
  font-weight: 800;
  color: #565656;
}

.columna1 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--negroClaro);
}

.icon-triangle {
  color: var(--anaranjado);
  font-size: 17px;
}

.contenedor-login .columna1 {
  width: 50%;
  height: 100%;
  padding: 50px 45px;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.contenedor-login .columna1 > * {
  margin-top: 22px;
}

.contenedor-login .columna1 img {
  height: 70px;
}

.contenedor-login .columna1 div {
  width: 100%;
  display: flex;
}

/* BOTONES */
.contenedor-login .botones {
  gap: 30px;
}
.contenedor-login .login button {
  padding: 15px 34px;
  border: 2px solid var(--anaranjado);

  background: transparent;
  border-radius: 23px;
  cursor: pointer;
  font-size: 17px;
}
.contenedor-login .login .siguiente {
  padding: 15px 43px;
  border: none;
  background-color: var(--anaranjado);
  color: #fff;
  font-weight: bold;
}
/* INPUTS */
.contenedor-login .login input {
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 15px;
  border: none;
  color: #3a3a3a;
  width: 100%;
  box-sizing: border-box;
}

.contenedor-login .login input::placeholder {
  color: #969696;
}
input:focus {
  outline: none;
}

.contenedor-login .columna1 .texto {
  flex-direction: row-reverse;
  margin-top: 20px;
}

.texto a {
  font-size: 15px;
  color: var(--negroClaro);
}
.texto a span {
  font-size: 15px;
  font-weight: 600;
}

.login .columna2 {
  background-color: #ffc6b5;
  border-radius: 0 20px 20px 0;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: visible;
}
.login .columna2 img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.columna2-responsive {
  display: none;
}
/* RESPONSIVE */

@media (max-width: 1190px) {
  .contenedor-login .login .columna2,
  .login h2,
  .contenedor-login .columna1 a img {
    display: none;
  }
  .contenedor-login .columna1 p {
    margin-top: 0;
  }
  .contenedor-login .columna1 {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25),
      inset 0px 4px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
  }
  .contenedor-login .login {
    max-width: 500px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #ffab92;
  }
  .contenedor-login .columna2-responsive {
    display: flex;
    position: relative;
    height: 120px;
    width: 100%;
    top: -30px;
  }

  .contenedor-login .columna2-responsive img,
  .contenedor-login .columna2-responsive section {
    position: absolute;
  }
  .contenedor-login .columna2-responsive section {
    width: 50%;
    background-color: white;
    border-radius: 16px 16px 16px 0px;
    padding: 10px 15px;
    right: 20px;
  }
  .contenedor-login .columna2-responsive img {
    left: 20px;
  }

  .contenedor-login .botones {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 460px) {
  .contenedor-login .columna2-responsive {
    height: 100px;
  }

  .contenedor-login .login input {
    font-size: 17px;
  }

  .contenedor-login .columna2-responsive section,
  .contenedor-login .columna1 p {
    font-size: 15px;
  }
  .contenedor-login .texto a,
  .contenedor-login .texto a span {
    font-size: 13px;
  }
  .contenedor-login .columna2-responsive img {
    width: 100px;
  }

  .contenedor-login .columna1 > * {
    margin-top: 15px;
  }

  .contenedor-login .botones {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .contenedor-login .botones button,
  .contenedor-login .login .siguiente {
    font-size: 15px;
    padding: 8px 34px;
  }
}

@media screen and (max-width: 375px) {
  .contenedor-login .columna2-responsive {
    height: 80px;
  }

  .contenedor-login .login input {
    font-size: 13px;
  }

  .contenedor-login .columna2-responsive section,
  .contenedor-login .columna1 p {
    font-size: 12px;
  }
  .contenedor-login .texto a,
  .contenedor-login .texto a span {
    font-size: 12px;
  }
  .contenedor-login .columna2-responsive img {
    width: 80px;
    top: 15px;
  }

  .contenedor-login .columna1 > * {
    margin-top: 12px;
  }
}
