.title-mostrarFTE {
  position: relative;
  z-index: 7;
  display: flex;
  top: -4%;
  justify-content: center;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.container-mostrarFTE {
  margin-top: 20px;
}
@media screen and (max-width: 773px) {
  .container-mostrarFTE {
    margin-top: 10px;
  }
  .title-mostrarFTE {
    top: -0.5%;
  }
  .title-mostrarFTE::before {
    display: none;
  }
}

.title-mostrarFTE::before {
  content: "";
  width: 120%;
  height: 2px;
  background-color: #3e3d3d;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  z-index: -1;
}
.heading-template {
  text-align: center;
  color: white;
  font-weight: 500;
  margin-bottom: 45px;
}
.template-container {
  max-width: clamp(250px, 51vw, 300px);
  background-color: #ff8469;
  color: var(--negro);
  border-radius: 53px;
  position: relative;
  padding: clamp(10px, 4vw, 20px) clamp(20px, 4vw, 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 3px white;
}

.image-cara {
  z-index: 2;
  margin-top: -50px;
  margin-bottom: 5px;
  width: clamp(80px, 26vw, 110px);
}

.empresa-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  width: clamp(220px, 35vw, 280px);
  background-color: white;
  border-radius: 23px;
  text-align: center;
}
.empresa-container img {
  height: clamp(50px, 15vw, 90px);
  width: auto;
  margin: 0 auto;
}
.empleado-tiempo {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "primero segundo"
    "tercero tercero";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 65px;
}
.empleado-tiempo > * {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  line-height: 1.1;
}
.empleado-tiempo > * h3 {
  font-size: clamp(15px, 2vw, 19px);
  color: var(--negro);
}
.empleado-tiempo > * p {
  font-size: clamp(11px, 2vw, 12px);
  margin-top: 3px;
  color: var(--negro);
}

.empleado-tiempo .primero {
  grid-area: primero;
}
.empleado-tiempo .segundo {
  grid-area: segundo;
}
.empleado-tiempo .tercero {
  grid-area: tercero;
}
.icons-productivity {
  display: flex;
  justify-content: space-evenly;
  margin-top: clamp(20px, 1vw, 25px);
  gap: 10px;
  width: 100%;
}
.icons-productivity > * {
  background-color: #43ca40;
  width: 28%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 0.9;
  gap: 5px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}
.icons-productivity > * p {
  font-size: clamp(12px, 2vw, 14px);
  margin-top: 3px;
  font-weight: 500;
}
