.quejas-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.quejas {
  max-width: 1200px;
  width: 100%;
}
/* *Header */
.quejas h2 {
  font-size: clamp(26px, 4vw, 40px);
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 600;
}
/* *Content */
.quejas .contenedor {
  display: flex;
  position: relative;
  z-index: 600;
  justify-content: space-evenly;
  height: 400px;
}
.contenedor > * {
  width: 30%;
}
.contenedor .imagen {
  align-self: flex-end;
  position: absolute;
}
.imagen-hombre-en-duda {
  width: 100%;
}
.quejas section {
  display: inline-block;
  padding: clamp(10px, 2vw, 20px) clamp(30px, 2vw, 50px);
  border-radius: 50px 50px 0 50px;
  background-color: #d9d9d9;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  font-size: clamp(14px, 2vw, 16px);
  z-index: 2;
}
.quejas :nth-child(3) section {
  border-radius: 50px 50px 50px 0;
}
.quejas .preguntas {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.preguntas > * {
  margin-bottom: 30px;
}
