.ofrecemos-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--anaranjadoClaro);
  z-index: 700;
}
.ofrecemos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ofrecemos .fondo {
  position: relative;
  width: 50%;
}
.ofrecemos .circulo {
  border-radius: 50%;
  background-color: var(--anaranjado);
  width: 1000px;
  height: 1000px;
  position: absolute;
  z-index: 100;
  bottom: -400px;
  left: -250px;
}
.ofrecemos img {
  position: relative;
  z-index: 200;
  width: 100%;
}
.ofrecemos .contenido {
  width: 45%;
  z-index: 300;
}
.ofrecemos h2 {
  font-size: clamp(35px, 4vw, 60px);
  color: #fff;
  font-weight: bolder;
  margin-bottom: clamp(5px, 4vw, 15px);
}
.ofrecemos h3 {
  color: #fff;
  font-size: clamp(18px, 2vw, 25px);
  margin-bottom: 5px;
}
.ofrecemos p {
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: clamp(12px, 1.5vw, 15px);
  font-weight: lighter;
}
.ofrecemos ul {
  margin-left: 70px;
}
.ofrecemos li {
  display: flex;
  align-items: flex-start;
}
.contenido .icons {
  font-size: 25px;
  color: #fff;
  margin-right: 30px;
}
.ofrecemos .botones {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  margin-left: 70px;
}
.ofrecemos button {
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  height: 60px;
  transition: var(--default-animation);
}
.ofrecemos button:hover {
  transform: scale(1.05);
}
.ofrecemos .empecemos {
  color: var(--negro);
  background-color: #fff;
  border: none;
  font-weight: bolder;
}

@media (max-width: 1510px) {
  .ofrecemos h2 {
    margin-bottom: 30px;
  }
  .ofrecemos .contenido {
    width: 100%;
  }
  .ofrecemos ul,
  .ofrecemos .botones {
    margin-left: 0;
  }
  .ofrecemos .fondo {
    width: 100%;
  }
  .ofrecemos .circulo {
    width: 750px;
    height: 750px;
    bottom: -400px;
    left: -300px;
  }
}
@media screen and (max-width: 767px) {
  .ofrecemos {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .ofrecemos img {
    width: 60%;
    margin: auto;
  }
  .contenido h2 {
    margin-bottom: 15px;
  }
  .contenido .icons {
    margin-right: 20px;
  }
  .ofrecemos ul,
  .ofrecemos .botones {
    margin-left: 0;
  }
  .ofrecemos .contenido {
    width: 100%;
  }
  .ofrecemos .fondo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ofrecemos .circulo {
    width: 500px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .ofrecemos .botones {
    font-size: 18px;
    width: 100%;
    display: none;
  }
  .ofrecemos a {
    width: 100%;
  }
  .ofrecemos .botones {
    flex-direction: column;
  }
}
