.somos-container {
  background: linear-gradient(180deg, #ffbb92 0%, #de6262 100%);
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.somos {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.somos-container h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}
.somos .linea {
  position: absolute;
  width: 5px;
  height: 85%;
  background-color: #646464;
  border-radius: 5px;
  z-index: 600;
  margin-top: 45px;
  left: 50%;
  top: 25px;
  transform: translate(-50%);
}

/* Circulo */
.somos .circulo {
  border-radius: 50%;
  background-color: #fff;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.somos .icons {
  color: #646464;
  font-size: 30px;
}
/* *Contenido y nada */

.somos .card {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 700;
  justify-content: space-between;
}
.izquierda {
  flex-direction: row-reverse;
}
.izquierda .contenido {
  text-align: end;
}
.derecha {
  text-align: end;
}
/* nada */
.somos .nada {
  min-width: 40%;
}
.somos .nada .icons {
  color: #fff;
  font-size: 80px;
}
/* contenido */
.somos .contenido {
  width: 40%;
}

.somos .contenedor-cards {
  position: relative;
  display: flex;
  flex-direction: column;
}

.somos h3 {
  font-size: 25px;
  margin-bottom: 18px;
  color: #fff;
}
.somos p {
  color: #fff;
}

.somos .ultimo {
  margin-bottom: 0;
}
.somos .mobile {
  display: none;
}
@media screen and (max-width: 1240px) {
  .somos h2 {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .somos h3 {
    font-size: 20px;
  }
  .somos p {
    font-size: 14px;
  }
}
.carrousel-erp-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  height: clamp(100px, 15vw, 200px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.carrousel-erp-element {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 40s infinite cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.partners {
  display: grid;
  grid-template-areas:
    "uno dos"
    "tres tres";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-items: center;
}
.partners li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.partners img {
  width: 100%;
}
.partners-uno {
  grid-area: uno;
}
.partners-dos {
  grid-area: dos;
}
.partners-dos img {
  width: auto;
  height: clamp(30%, 10vw, 80%);
}
.partners-tres {
  grid-area: tres;
}
.partners-tres img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 767px) {
  .somos h2 {
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .somos h3 {
    font-size: 20px;
  }
  .somos p {
    font-size: 12px;
  }
  .somos .circulo {
    position: relative;
    left: 0;
    transform: none;
  }

  .somos .card {
    margin-bottom: 35px;
  }
  .somos .nada {
    display: none;
  }
  .somos .pc {
    display: none;
  }
  .somos .mobile {
    display: block;
  }
  .somos .card {
    justify-content: start;
    align-items: flex-start;
  }
  .somos .izquierda {
    flex-direction: row;
  }

  .somos .izquierda .contenido {
    text-align: start;
  }
  .somos .contenido {
    margin-left: 30px;
    width: 60%;
  }
  .somos .circulo {
    margin: 0 20px;
  }
  .somos .linea {
    align-self: flex-start;
    left: 40px;
    height: 80%;
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .partners {
    grid-template-rows: 80px 50px;
  }
}

@media (max-width: 380px) {
  .somos .contenido {
    margin-left: 5px;
    width: 70%;
  }
  .somos .linea {
    align-self: flex-start;
    left: 40px;
    height: 80%;
    margin: 0 -5px;
  }

  .somos .circulo {
    margin: 0 10px;
    min-width: 50px;
    min-height: 50px;
  }
  .somos .icons {
    font-size: 17px;
  }
}
