.container-asesores {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.475);
  z-index: 999;
  box-sizing: border-box;
  color: var(--negro);
}
.asesores {
  width: 90%;
  max-width: 450px;
  inset: 0;
  margin: auto;
  position: absolute;
  height: fit-content;
  background-color: white;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.379);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.icon-x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: crimson;
}
.asesor-title {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: 600;
  margin-top: 20px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.asesor-subtitle {
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
  width: 100%;
}
.asesores .asesor-contact {
  width: clamp(70px, 14vw, 120px);
}
.asesores img {
  width: 25px;
}
.asesores section {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #f0f0f0;
}
.asesores section section {
  box-shadow: none;
  overflow: visible;
}
.asesores .container-social-media {
  display: flex;
  gap: 10px;
}
.asesores span > * {
  cursor: pointer;
}
.asesores a {
  color: var(--negro);
}
.asesores section h4 {
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
}
.asesores .icon {
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.container-paises {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  max-height: 80px;
  position: absolute;
  z-index: 20;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.379);
  padding: 5px;
  overflow-y: scroll;
}
