.contacto-container {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 200;
  height: auto;
}
/* Columna 1 */
.contacto .columna1 {
  width: 25%;
  padding: 0px 35px 55px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contacto .encabezado h3 {
  font-size: clamp(2.5rem, 5vw, 7.5rem);
  color: var(--anaranjado);
  font-weight: 1000;
  text-shadow: 3px 4px 7px #a8a8a8;
  line-height: 1;
  margin-bottom: 20px;
}
.contacto .encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;
}
.contacto p {
  font-size: clamp(18px, 1.2vw, 30px);
  padding-top: 0;
}
.iconos-social-media-dignita {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}
.iconos-social-media-dignita .iconos {
  font-size: 25px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.iconos-social-media-dignita .iconos:hover {
  transform: scale(1.2);
}
/* menu */
.contacto .hamburguesa {
  display: none;
  font-size: clamp(25px, 3vw, 35px);
}

.contacto .menu-2 {
  width: 100%;
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  font-size: 18px;
  transform: translateY(-100%);
  transition: 1.2s;
  background: rgba(254, 201, 201, 1);
  text-align: center;
}
.contacto .cerrar {
  display: none;
  font-size: clamp(25px, 3vw, 35px);
}
.contacto .menu-2 li {
  padding: 20px 0;
}
.contacto .menu-2 a {
  color: var(--negro);
}

/* suscribete */

.contacto .suscribete {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: baseline;
}

.contacto .suscribete h3 {
  font-size: clamp(1.5rem, 2vw, 4.5rem);
  color: var(--anaranjado);
}

.contacto .input-contacto {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.contacto input {
  width: 75%;
  box-sizing: border-box;
  padding: 15px 15px;
  box-shadow: 0px 0px 2px var(--negro);
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 18px;
}

.contacto .suscribete button {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 60px;
  background-color: var(--anaranjado);
  color: white;
  border: none;
  border-radius: 0 150px 150px 90px;
  position: relative;
}

/* Columna 2 */
.contacto .columna2 {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* menu */
.contacto .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.contacto .menu li {
  font-weight: 600;
  font-size: clamp(20px, 1.6vw, 30px);
}
.contacto a {
  text-decoration: none;
  color: #5c5c5c;
}

/* equipo */
.contacto .equipo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.asesor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  overflow: hidden;
  width: 230px;
}

.asesor-container .columna2 {
  background-color: rgb(59, 59, 59);
  width: 100%;
  color: white;
}

.asesor-container img {
  height: 250px;
  background: transparent;
  border-bottom: 2px solid rgb(56, 56, 56);
}
.contacto span {
  font-size: clamp(14px, 1.5vw, 25px);
  font-weight: 500;
  color: white;
}
.contacto .nombre-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.contacto i {
  font-size: clamp(18px, 2.5vw, 30px);
}
.contacto .redes-sociales {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  font-size: 20px;
  gap: 10px;
}

/* boton */
.contacto .boton-contacto {
  display: flex;
  justify-content: center;
}
.contacto .boton {
  border-radius: 90px;
  font-size: clamp(20px, 1.5vw, 30px);
  padding: clamp(12px, 2vw, 32px) clamp(30px, 2vw, 50px);
  background-color: var(--anaranjado);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 5px #fc4d19;
  transition: var(--default-animation);
}
.contacto .boton:hover {
  box-shadow: 0px 2px 2px #fc4d19;
}
.contacto .boton:active {
  transform: translateY(5px) scale(0.95);
}
.blobs-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}
.blobs-container > * {
  position: absolute;
  animation: rotar infinite 40s;
  animation-timing-function: cubic-bezier(1, 1, 0, 0);
}
.first-blob {
  left: -300px;
  top: -300px;
  width: 700px;
  height: 600px;
  opacity: 0.5;
}

.second-blob {
  animation-duration: 45s;
  right: -200px;
  top: -300px;
  opacity: 0.3;
}

.third-blob {
  animation-duration: 35s;
  left: -200px;
  bottom: -300px;
  opacity: 0.35;
}

.fourth-blob {
  animation-duration: 30s;
  left: 1150px; /* right: -120px; */
  bottom: -200px;
  opacity: 0.4;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ANIMACIONES DE LOS MIEMBROS */

.contacto .equipo > * {
  position: relative;
  z-index: 100;
  filter: contrast(40%);
}

.contacto .equipo > *:nth-child(1) {
  animation: mover1 infinite 20s;
}

.contacto .equipo > *:nth-child(2) {
  animation: mover2 infinite 20s;
}

.contacto .equipo > *:nth-child(3) {
  animation: mover3 infinite 20s;
}

@keyframes mover1 {
  0% {
    transform: translate(0px, 0px) scale(0.8);
  }

  25% {
    transform: scale(1) translateX(260px);
    z-index: 200;
    filter: contrast(110%);
  }

  33% {
    transform: scale(1) translateX(260px);
    z-index: 200;
    filter: contrast(110%);
  }

  58% {
    transform: translate(520px, 0px) scale(0.8);
    filter: contrast(40%);
  }

  66% {
    transform: translate(520px, 0px) scale(0.8);
    filter: contrast(40%);
  }
  100% {
    transform: translate(0px, 0px) scale(0.8);
  }
}

@keyframes mover2 {
  0% {
    transform: scale(1) translate(0px, 0px);
    z-index: 200;
    filter: contrast(110%);
  }

  25% {
    transform: translate(260px, 0px) scale(0.8);
    filter: contrast(40%);
    z-index: 100;
  }

  33% {
    transform: translate(260px, 0px) scale(0.8);
    z-index: 100;
    filter: contrast(40%);
  }

  58% {
    transform: translate(-260px, 0px) scale(0.8);
    z-index: 100;
    filter: contrast(40%);
  }

  66% {
    transform: translate(-260px, 0px) scale(0.8);
    z-index: 100;
    filter: contrast(40%);
  }

  100% {
    transform: scale(1) translate(0px, 0px);
    z-index: 200;
    filter: contrast(110%);
  }
}

@keyframes mover3 {
  0% {
    transform: translate(0px, 0px) scale(0.8);
  }

  25% {
    transform: translate(-520px, 0px) scale(0.8);
    filter: contrast(40%);
  }

  33% {
    transform: translate(-520px, 0px) scale(0.8);
    filter: contrast(40%);
  }

  58% {
    transform: scale(1) translate(-260px, 0px) scale(1);
    z-index: 200;
    filter: contrast(110%);
  }

  66% {
    transform: scale(1) translate(-260px, 0px) scale(1);
    z-index: 200;
    filter: contrast(110%);
  }
  100% {
    transform: translate(0px, 0px) scale(0.8);
  }
}

@media screen and (max-width: 767px) {
  .mancha1 {
    left: -300px;
    top: -100px;
    width: 420px;
    height: 520px;
  }

  .mancha2 {
    animation-duration: 45s;
    left: 250px; /* right: -120px; */
    top: 200px;
    width: 180px;
    height: 280px;
  }

  .mancha3 {
    animation-duration: 35s;
    left: -150px;
    bottom: -200px;
    width: 280px;
    height: 380px;
  }

  .mancha4 {
    animation-duration: 30s;
    left: 270px; /* right: -50px; */
    bottom: 100px;
    width: 80px;
    height: 180px;
  }
}

/* TABLET VERSION */
@media (max-width: 1169px) {
  .contacto .encabezado h3 {
    width: 100%;
    text-align: center;
  }
  .contacto {
    flex-direction: column;
    align-items: center;
  }
  .contacto .equipo {
    gap: 20px;
  }
  .contacto .columna1 {
    max-width: 500px;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .contacto .columna2 {
    max-width: 500px;
    width: 100%;
    padding: 0px 10px;
  }
  .contacto img {
    height: 150px;
  }
  .iconos-social-media-dignita {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .input-contacto {
    justify-content: center;
    align-self: center;
  }
  .contacto-container {
    background-color: white;
    overflow: hidden;
    height: 150vh;
  }
  .contacto .equipo > * {
    z-index: 100;
    filter: contrast(100%);
  }
  .contacto .equipo > *:nth-child(1) {
    animation: none;
  }
  .contacto .equipo > *:nth-child(2) {
    animation: none;
  }
  .contacto .equipo > *:nth-child(3) {
    animation: none;
  }
  .asesor-container {
    width: 250px;
  }
}

/* MOBILE VERSION */
@media screen and (max-width: 550px) {
  .contacto .equipo {
    flex-direction: column;
  }
  .asesor-container {
    flex-direction: row-reverse;
  }
  .asesor-container .columna2 {
    height: 100px;
  }
  .asesor-container img {
    height: 100px;
  }
  .contacto .menu {
    display: none;
  }
}
