.asesoramiento-personalizado-container {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.asesoramiento-personalizado {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: var(--negro);
}
.asesoramiento-personalizado .first-section {
  align-self: flex-start;
  width: 65%;
}

.button-group-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  margin-top: clamp(5px, 3vw, 20px);
  margin-bottom: clamp(5px, 3vw, 20px);
}
.button-group-4 button {
  font-size: clamp(10px, 1.5vw, 18px);
  line-height: 1.1;
  padding: clamp(6px, 3vw, 15px) clamp(15px, 4vw, 25px);
  border-radius: 20px;
  border: 1px solid var(--negro);
  background-color: white;
  font-weight: bold;
  transition: var(--default-animation);
}
@media (max-width: 1000px) {
  .button-group-4 {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .copy-eliminar {
    display: none;
  }
}
.button-group-4 button:hover {
  background-color: var(--negro);
  color: white;
}

.asesoramiento-personalizado .first-section h3 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: bold;
  line-height: 1.1;
  color: var(--negro);
  margin-bottom: clamp(10px, 2vw, 30px);
}
.asesoramiento-personalizado .first-section p {
  font-size: clamp(13px, 1.5vw, 18px);
  text-align: justify;
  line-height: 1.3;
  color: var(--negro);
}
.asesoramiento-personalizado .second-section {
  width: clamp(250px, 40vw, 500px);
}
.asesoramiento-personalizado img {
  width: 100%;
}
@media (max-width: 1000px) {
  .asesoramiento-personalizado .first-section {
    text-align: center;
    width: 100%;
  }
  .asesoramiento-personalizado {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

.copy-jefe-container {
  padding: 0px 20px;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.447);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.copy-jefe {
  width: 95%;
  background-color: white;
  border-radius: 20px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.container-opciones-pruebas {
  margin-top: 20px;
  height: 470px;
  overflow: hidden;
}
.copy-jefe__item {
  margin-bottom: 15px;
}

.container-copy-jefe {
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.degradado {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.copy-jefe__text {
  font-size: clamp(13px, 1.4vw, 18px);
  color: var(--negro);
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.botones-prueba-de-concepto {
  display: flex;
  gap: 10px;
}

.botones-prueba-de-concepto button {
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 20px;
}

.btn-ver-mas {
  background-color: transparent;
  border: 1px solid rgb(40, 182, 69);
  color: rgb(40, 182, 69);
  transition: all 100ms ease-in-out;
}
.btn-ver-mas:hover {
  background-color: rgba(40, 182, 68, 0.778);
  color: white;
}

.btn-copy-to-clipboard {
  background-color: rgb(40, 182, 69);
  border: none;
  color: white;
}
.icon-cerrar {
  position: absolute;
  font-size: 25px;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: rgb(205, 13, 13);
}
