.implementar-container {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.implementar {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 40px;
}
.implementar .first-section {
  width: 65%;
}
.implementar .first-section h3 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: bold;
  line-height: 1.1;
  color: var(--negro);
  margin-bottom: clamp(10px, 2vw, 30px);
}
.implementar .first-section p {
  font-size: clamp(13px, 2vw, 18px);
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--negro);
}

.implementar .second-section {
  width: clamp(250px, 40vw, 500px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.implementar .second-section img {
  width: 100%;
}
@media (max-width: 1000px) {
  .implementar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .implementar .first-section {
    width: 100%;
  }
}
.boton-aceptar:hover {
  background-color: #de6262;
  color: white;
}

.enviar-mensaje-container {
  margin-bottom: 10px;
}

.enviar-mensaje-title {
  font-size: clamp(15px, 2.5vw, 20px);
  color: var(--negro);
}
.enviar-mensaje-copy {
  font-size: clamp(13px, 2vw, 18px);
  color: var(--negro);
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
.correo-container-buttons {
  margin-bottom: 10px;
}
.correo-container-buttons button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #de6262;
  background-color: transparent;
  transition: 100ms all ease-in-out;
}
.correo-container-buttons button:hover {
  background-color: #de6262;
  color: white;
}
