

:root {
    --negro: #000; /* Lo cambias a otro color */
    --blanco: #fff;
    --anaranjado: #FF7046;
}



*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* El header lo eliminas porque tu ya tienes el menu ya listo*/
header {
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: row;
}




/* Columna 1 */
.contenedor .columna1 {
    width: 25%;
    padding: clamp(2em, 4vw, 5em);
}
.contenedor h3 {
    font-size: clamp(2.5rem, 5vw, 7.5rem);
    color: var(--anaranjado);
    font-weight: 1000;
    text-shadow: 3px 2px 7px var(--negro);
    margin-bottom: 30px;
}
.contenedor p {
    font-size: clamp(18px, 1.2vw, 30px);
}



/* Columna 2 */
.contenedor .columna2 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(50px, 5vw, 100px);
}

/* menu */
.contenedor .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.contenedor .menu li {
    font-weight: 600;
    font-size: clamp(20px, 1.6vw, 30px);
}
.contenedor a {
    text-decoration: none;
    color: #5C5C5C;
}

/* equipo */
.contenedor .equipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.contenedor img {
    height: 240px;
}
.contenedor .active {
    height: 360px;
}
.contenedor span {
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 500;
}
.contenedor .nombre-contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contenedor i {
    font-size: clamp(18px, 3vw, 30px);
}
.contenedor .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: clamp(12px, 2vw, 25px);
    gap: 30px;
}


/* boton */
.contenedor .boton-contenedor {
    display: flex;
    justify-content: center;
}
.contenedor .boton {
    border-radius: 90px;
    font-size: clamp(20px, 1.5vw, 30px);
    padding: clamp(12px, 2vw, 32px) clamp(30px, 2vw, 50px);
    background-color: var(--anaranjado);
    border: none;
    color: var(--blanco);
    cursor: pointer;
}


/* TABLET VERSION */
@media screen and (min-width: 767px) and (max-width: 1200px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
    .contenedor .columna1 {
        width: 50%;
    }
    .contenedor .columna2 {
        width: auto;
    }
    .contenedor img {
        height: 150px;
    }
    .contenedor .active {
        height: 300px;
    }
}

/* MOBILE VERSION */
@media screen and (max-width: 767px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
    .contenedor .columna1, .contenedor .columna2 {
        width: auto;
    }
    
    

    /* menu */
    .contenedor .menu {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    /* equipo */
    .contenedor .equipo {
        flex-direction: column;
    }
    .equipo > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenedor img {
        height: 150px;
        object-fit: contain;
    }
    .contenedor .active {
        height: 300px;
        object-fit: contain;
    }
    .contenedor .boton-contenedor a,.contenedor .boton-contenedor, .boton {
        width: 100%;
    }
}