.area-automatizar-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.area-automatizar {
  max-width: min(1200px, 100%);
}
.area-automatizar-header h2,
.area-automatizar-header strong {
  font-size: clamp(17px, 4vw, 25px);
  font-weight: 1000;
  line-height: 0.95;
  color: var(--negro);
}
.area-automatizar-header {
  margin-bottom: clamp(8px, 1vw, 10px);
}
.area-automatizar-portada {
  margin-bottom: 30px;
  color: var(--negro);
}
.area-automatizar-portada h2 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: bold;
  line-height: 1.1;
  color: var(--negro);
  margin-bottom: clamp(10px, 2vw, 30px);
}
.area-automatizar-portada p {
  font-size: clamp(13px, 2vw, 18px);
  text-align: justify;
  line-height: 1.3;
}

.area-automatizar-opciones .title {
  text-align: center;
  font-weight: 400;
  color: var(--negro);
  font-size: clamp(1.3rem, 4vw, 1.8rem);
  margin-bottom: clamp(20px, 3vw, 30px);
}
.hand-pointer {
  animation: cursor 3.5s infinite;
}
.hand-pointer-container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(59, 59, 59);
  margin-left: 5px;
  top: -9px;
  animation: click 3.5s infinite;
}
@keyframes cursor {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes click {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
.area-automatizar-opciones .title span {
  text-align: center;
  background: linear-gradient(115.28deg, #ffa14a 25.59%, #ff0015 75.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 1000;
}
.area-automatizar-opciones section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  position: relative;
}
.area-automatizar-opciones .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .area-automatizar-opciones .buttons {
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 15px;
  }
  .area-automatizar-opciones .buttons button {
    width: 60%;
  }
}
.area-automatizar-opciones button {
  width: 280px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 130px 362px rgba(0, 0, 0, 0.13),
    0px 94.5547px 243.996px rgba(0, 0, 0, 0.105219),
    0px 65.8125px 157.809px rgba(0, 0, 0, 0.08775),
    0px 18px 97.9238px rgba(0, 0, 0, 0.28);
  line-height: 1.4;
  padding: 17px 10px;
  text-align: start;
  font-size: clamp(13.5px, 2.5vw, 15px);
  transition: var(--default-animation);
}
.area-automatizar-opciones button:hover {
  transform: scale(1.1);
}
.area-automatizar-opciones button span {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: 700;
}
.area-automatizar-opciones .button-1 {
  background-color: #fc4d19;
  color: white;
}
.area-automatizar-opciones .button-2 {
  background-color: white;
  color: var(--negro);
}
.area-automatizar-opciones .button-2 span {
  color: #fc4d19;
}
/* .area-automatizar-opciones img {
  width: 30%;
}
 */
